@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.nav-class{
    width:100%;
    margin-top:0;
    height:80px;
    /* background-color: gray; */
    position:fixed;
}
.nav-class>ul {
    list-style: none;
}
.nav-class > img{
    height:80px;
    float:left;
}
.nav-li{
    font-family: 'Roboto', sans-serif;
    margin-right: 0.8rem;
    color:rgb(39, 9, 73);
    padding:0.8rem;
    font-size:20px;
    float: right;
    border: 0;
    font-style: bold;
    cursor: pointer;
    opacity: 0.5;
}

.nav-class ul li:hover{
    transition: opacity 0.5s bold 0.5s;
    opacity: 1;
}


body{
    overflow-x: hidden;

}
html{
        scroll-behavior: smooth;
}